{% extends "base.html" %}

{% block section1 %}
    <section class="site-intro">
        <div class="inner">
            <div class="welcome-wrap">
                <p class="main-intro">
                    <span>On the web there are no roads.</span>
                    <span>You&nbsp;can&nbsp;go&nbsp;anywhere.</span>
                </p>
                <aside>But what if you need a guide?</aside>
            </div>
        </div>
    </section>
{% endblock %}

{% block section2 %}
    {{ content }}
{% endblock %}

{% block page-specific-scripts %}
<script>
// ON-DEMAND LOADING OF ARTICLE CONTENT
    (function() {
        alert("I'm specific to the home page.");
    })();
</script>
{% endblock %}

