{% extends "base.html" %}

{% block section1 %}
    <section class="site-intro">
        <div class="inner">
            <div class="welcome-wrap">
                <p class="main-intro">
                    <span>On the web there are no roads.</span>
                    <span>You&nbsp;can&nbsp;go&nbsp;anywhere.</span>
                </p>
                <aside>But what if you need a guide?</aside>
            </div>
        </div>
    </section>
{% endblock %}

{% block section2 %}
    {{ content }}
{% endblock %}

{% block page_specific_scripts %}
<script>
    (function() {
        var readButtons = document.querySelectorAll('.more-less [role="button"]');
        for (var i = readButtons.length; i > 0; i--) {
            readButtons[i-1].addEventListener( 'click', function() {
                // fetch case{ parent's data-casestudy number }.html
                console.log(this.parentNode.parentNode.dataset.casestudy);
                var xhr = new XMLHttpRequest(),
                    url = "themes/default/includes/case" + this.parentNode.parentNode.dataset.casestudy + ".html"
                ;
                xhr.addEventListener( 'progress', progressHandler );
                xhr.addEventListener( 'load', loadHandler );
                xhr.addEventListener( 'error', errorHandler );
                xhr.addEventListener( 'abort', abortHandler );
                xhr.open('GET', url, true);
                xhr.onreadystatechange = function(data) {
                    //
                }
                xhr.send(); console.log(xhr);

            }, false );
        };

        function progressHandler(ev) {
            console.log("progress");
        }

        function loadHandler(ev) {
            console.log("load");
        }

        function errorHandler(ev) {
            console.log("error");
        }

        function abortHandler(ev) {
            console.log("abort");
        }

    })();
</script>
{% endblock %}

