/*=================================*/
/* Pico Default Theme
/* By: Gilbert Pellegrom
/* http: //dev7studios.com
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
    cursor: pointer;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}

/* Sharper Thumbnails */
img {
    -ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
    padding: 5px;
    font: 400 1em Verdana, Sans-serif;
    color: #666;
    background: #fff;
    border: 1px solid #999999;
    margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
    color: #000;
    background: #fff;
    border: 1px solid #666666;
}

/* Main Styles
/*---------------------------------------------*/
body {
    font: 14px/1.62em 'Open Sans', Helvetica, Arial, Helvetica, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
}

a, a:visited {
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    color: #2EAE9B;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover, a:active {
    border-bottom-style: solid;
    color: #000;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    margin-top: 2em;
}

p, table, ol, ul, pre, blockquote, dl {
    margin-bottom: 1em;
}

ol, ul {
    padding-left: 2em;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

abbr, acronym {
    cursor: help;
    border-bottom: 0.1em dotted;
}

td, td img {
    vertical-align: top;
}

td, th {
    border: solid 1px #999;
    padding: 0.25em 0.5em;
}

th {
    font-weight: bold;
    text-align: center;
    background: #eee;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: Courier, "Courier New", "Monaco", Tahoma, monospace;
    background: #eee;
    color: #333;
    padding: 0px 2px;
}

pre {
    background: #eee;
    padding: 1.7em;
    overflow: auto;
}

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 0.7em;
    border-left: 5px solid #dddddd;
}

dd {
    margin-left: 2em;
}

aside {
    color: #afe1da;
    font-family: "Georgia", serif;
    font-size: 3.2em;
    line-height: 1.62;
    margin-top: 6.8em;
    position: static;
    text-align: right;
}

/* Structure Styles
/*---------------------------------------------*/
.inner {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.inner img {
    width: 100%;
}
#site-header {
    background: transparent;
    color: #afe1da;
    font-family: "Ubuntu";
    margin-bottom: 2em;
    padding: 2em 0 0;
}
#site-header a {
    color: #afe1da;
    border-bottom: none;
}
#site-header h1 a {font-size: 1em;}
#site-header h1 a,
#site-header a:hover,
#site-header .active a {
    border-bottom: none;
    color: #fff;
}
#site-header h1 {
    font-weight: bold;
    margin: 0;
    float: left;
}
#site-header .menu-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #afe1da url(menu-icon.png) center;
}
#site-header nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}
#site-header nav a {
    font-weight: bold;
    margin-left: 1.7em;
}
#site-header a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}
#site-header ul {
    list-style: none;
}
#site-header li {
    display: inline-block;
    float: left;
}
#logo {
    text-transform: lowercase;
}
.header-section1-wrap {
    background: url('../../assets/hazy-water.jpg') rgba(175,225,218, 0.25) top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 6.8em;
    position: relative;
}
.header-section1-wrap::before {
    background: rgba(175,225,218,0.25); /*based on #afe1da*/
    /* to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,afe1da+100,afe1da+100&0.5+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.5) 0%, rgba(175,225,218,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.5) 0%,rgba(175,225,218,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.5) 0%,rgba(175,225,218,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00afe1da',GradientType=0 ); /* IE6-9 */
    bottom:0;
    left:0;
    position: absolute;
    right:0;
    top:0;
}
.main-intro {
    color: #fff;
    font-size: 1.6em;
}
.main-intro span:nth-child(2) {
    font-weight: bold;
}
#footer {
    background: #757090;
    color: #C0C0C0;
    font-family: "Ubuntu";
    padding: 4em 0;
}
#footer a { 
    color: #ddd;
    border-bottom: 1px dotted #ddd;
}
#footer a:hover {
    color: #fff;
    border-bottom: 1px solid #fff;
}
#footer .inner {text-align: center;}

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Media Queries
/*---------------------------------------------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #site-header nav a { color: #000; }
    #site-header nav a:hover { color: #afe1da; }
    #site-header nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 1.7em;
        background: #fff;
        border: 5px solid #444;
        right: 2.7em;
        top: 8.5em;
        width: 80%;
        border-radius: 4px 0 4px 4px;
        z-index: 9999;
    }
    #site-header nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
    #site-header nav:hover ul {
        display: block;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #site-header nav a { color: #000; }
    #site-header nav a:hover { color: #afe1da; }
    #site-header nav ul, nav:active ul {
        display: none;
        position: absolute;
        padding: 1.7em;
        background: #fff;
        border: 5px solid #444;
        right: 0em;
        top: 8.5em;
        width: auto;
        border-radius: 4px 0 4px 4px;
    }
    #site-header nav li {
        text-align: center;
        width: 100%;
        padding: 0.7em 0;
        margin: 0;
    }
    #site-header nav:hover ul {
        display: block;
    }
}

@media only screen and (min-width: 500px) {
    #site-header {
        margin-bottom: 3.4em;
    }
}

@media only screen and (min-width: 700px) {
    aside {
        bottom: 0;
        position: absolute;
        right: 2em;
    }
    .header-section1-wrap {
        padding-bottom: 13.6em;
    }
}

@media only screen and (min-width: 800px) {
    #site-header h1 a {
        font-size: 100%;
    }
    #site-header .menu-icon {
        display: none;
    }
    .inner {
        width: 85%;
    }
    .inner img {
        width: auto;
    }

}
